<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>vous avez reçu une nouvelle participant</h1>
    <p>
    	Merci de verifier votre espace client.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %> 
    </p>
  </body>
</html>